:root {
  --black: #000000;
  --grey: #808080;
  --white: #ffffff;
}

html { font-size: 100%; }
html,body { font-family: 'Lato', sans-serif; font-weight: 300; margin: 0; padding: 0; line-height: 1.8; }

/* A perfect forth */
p { margin-bottom: 1.15rem; --minFontSize: 90%; --maxFontSize: 100%; --scaler: 6vw; font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) ); }
h1, h2, h3, h4, h5 { margin: 2.75rem 0 1.05rem; font-family: 'Rift', sans-serif; font-weight: 700; line-height: 1.15; }
h1 { margin-top: 0; --minFontSize: 2.5rem; --maxFontSize: 4.209rem; --scaler: 6vw; font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) ); }
h2 { --minFontSize: 1.8rem; --maxFontSize: 3rem; --scaler: 6vw; font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) ); }
h3 { --minFontSize: 1.6rem; --maxFontSize: 2.369rem; --scaler: 6vw; font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) ); }
h4 { --minFontSize: 1.6rem; --maxFontSize: 1.77rem; --scaler: 6vw; font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) ); }
h5 { --minFontSize: 1.2rem; --maxFontSize: 1.333rem; --scaler: 6vw; font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) ); }
h6 { margin-bottom: 1.15rem; }

/* eyebrow */
h6 + h1,
h6 + h2,
h6 + h3 { margin-top: 1rem; }

small { font-size: 0.75em; }
.lead { font-size: 1.25rem; }


nav { position:relative; top: 0; left: 0; padding: 2rem; z-index: 1000; background: var(--white); }
nav ul { list-style: none; position: relative; padding: 0; max-width: 80rem; margin: 0 auto; }
nav > ul { display: flex; justify-content: space-between; }
nav #menu { display: none; }

nav ul li { position: relative; display: flex; }
nav ul li a { text-transform: uppercase; transition:all 0.25s ease; font-size:0.9rem; text-decoration: none; z-index: 1; margin: auto 0; font-weight:700; }
nav > ul > li > ul { margin-left:0.5rem; }
nav > ul > li > ul > li > ul { margin-left:1rem; }

nav li.logo:before { content: normal; padding: 0; }
nav li.logo { flex:0 0 50%; }
nav li.logo img { width:100%; max-width:250px; }

/* drop-downs */
nav ul li:hover,
nav ul li:focus-within { cursor: pointer; }

nav ul li ul { visibility: hidden; min-width:5rem; opacity: 0; position: absolute; transition: all 0.5s ease; padding-top:2rem; left: 0; display: none; }
nav ul li ul li { padding:0.5rem 1rem; background-color: var(--white); }
nav ul li ul li:last-child { padding:0.5rem 1rem 1rem 1rem; background-color: var(--white); }

nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus { visibility: visible; opacity: 1; display: block; }
nav ul li ul li { width: 100%; }
.dropdown::after { content:'\0276F'; transform:rotate(90deg); position: absolute; margin-left:0.5rem; }

@media (min-height: 25rem) {
    nav { position:-webkit-sticky; position: sticky; z-index: 1000; }
}

@media screen and (max-width:60rem) {
  nav li.logo { flex:0 0 30%; transition: all 0.5s ease; }
}

@media screen and (max-width:40rem) {
  nav { position: fixed; top: 0; left: 0; right: 0; padding: 1rem; background-color: var(--blue) !important; overflow: hidden; }
  nav ul { flex-direction: column; width: 100%; height: calc(12px + 1rem); justify-content: flex-start; align-items: start; transition:height 0.25s ease-in-out; }
  
  nav #menu { z-index: 1001; font-size:1.2rem; color: white; display: block; position: absolute; right: 1.2rem; transition:all 0.25s ease-in-out; font-weight: 700; }
  nav #menu.open { transform: rotate(90deg); }
  nav #menu.open + ul { height: calc(100vh - 2rem); }

  nav ul li { display:block; margin: 1rem; }
  nav ul li:nth-child(2) { margin-top: 2rem; }
  nav ul li a { color:white !important; font-size: 1.2rem; font-weight:700; }

  nav ul li ul { visibility: visible; display:block; position: relative; opacity: 1; padding-top: 1rem; }
  nav ul li ul li { padding:0.25rem 1rem !important; background-color: var(--blue) !important; }
  .dropdown { font-weight:400; font-size: 1.2rem; color:var(--white) !important; }
  .dropdown::after { content:normal; }

  nav .logo { flex: 0; margin-left: 0; }
  nav .logo img { max-width: 150px; filter: brightness(0) invert(1) !important; }

}



/* elements */
img { max-width: 100%; }
p:empty { display: none; }
hr { border-color: var(--black); border-style: solid; }
b, strong { font-weight: 700; -webkit-font-smoothing: antialiased; }
u { border-bottom: solid 3px; text-decoration: none; }

.default { min-height: 100vh; display: flex; flex-direction: column; }

.row { max-width: 60rem; margin: 2rem auto; }

section { padding: 3rem 0 3rem 0; margin: 2rem auto 1rem auto; flex: 1 0 100%; outline:solid; }
section > .row { padding: 0 1rem; }
section:last-of-type { margin-bottom:0; }

@media screen and (max-width:40rem) {
  section { padding: 1.5rem 1rem 1rem 1rem; }
}

article { max-width:50rem; margin: auto; }


footer { background:var(--black); color:var(--white); margin: auto 0 0 0;}
footer nav { position:relative; z-index: 1; background: var(--black); display: grid; grid-template-columns: 1fr 2fr 2fr; max-width: 80rem; margin: 0 auto; padding:3rem 2rem; }
footer nav .logo { flex:0; max-width: 200px; filter: brightness(0) invert(1); }
footer nav > ul { column-count: 2; margin-left: 0; column-gap: 2rem; flex-wrap: wrap; }
footer nav > ul li { margin-bottom: 1rem; }
footer nav > ul li a { font-size:0.8rem; color:var(--white); position: relative; }
footer nav > ul li:not(.logo) a::after ,
footer nav > ul li a.nuxt-link-active::after { content:normal; }
footer nav > ul li ul { visibility: visible; opacity: 1; position: relative; display: block; }
footer nav > ul li ul li { background-color: inherit !important; color:inherit !important; }

@media screen and (max-width:40rem) {
  footer nav { display:block; }
  footer nav ul { height: auto; margin-top: 2rem; width: auto; }
  footer nav ul li { margin-left: 0; }
  footer nav ul li:nth-child(2) { margin-top:0; }
}


/* helpers */
.previewMode { position: fixed; right: 0; bottom: 0; z-index: 1000000; color: white; height: 20px; font-size: 0.8rem; font-family: monospace; margin: 0; line-height: 20px; top: 0; border-top: solid 4px red; left: 0; text-align: right; letter-spacing: 1px; }
.previewMode span { background: red; padding: 10px 10px 6px 10px; }

#cookies-banner { position: fixed; bottom: 0; left: 0; right: 0; padding: 2rem; z-index: 1000; background: var(--black); }
#cookies-banner h6 { margin-top:0; color:var(--white); }
#cookies-banner p { margin-bottom:0; color:var(--white); }
#cookies-banner button { border: solid 2px var(--hoverblue); border-radius: 2px; }
#cookies-banner a { color:var(--white); }

.error { min-height: 70vh; }


/* Contentful RichText */
.richtext { display: flex; flex-wrap: wrap; }
.richtext h2,
.richtext h3,
.richtext h4,
.richtext h5,
.richtext h6,
.richtext p { width: 100%; }

/* forms */
form { display:flex; }
form input,
form textarea { padding: 0.75rem 1rem; border: none; background: var(--grey); font-size: 1rem; flex:1; font-family: inherit; font-size:inherit; font-weight:400; }


/* tables (but not really) */
.table { width: 100%; display:grid; grid-template-rows: repeat(1, 1fr); margin-bottom: 2rem; }
.table[data-columns="1"] { grid-template-columns: repeat(1, 1fr); }
.table[data-columns="2"] { grid-template-columns: repeat(2, 1fr); }
.table[data-columns="3"] { grid-template-columns: repeat(3, 1fr); }
.table[data-columns="4"] { grid-template-columns: repeat(4, 1fr); }
.table[data-columns="5"] { grid-template-columns: repeat(5, 1fr); }
.table[data-columns="6"] { grid-template-columns: repeat(6, 1fr); }
.table[data-columns="7"] { grid-template-columns: repeat(7, 1fr); }
.table[data-columns="8"] { grid-template-columns: repeat(8, 1fr); }
.table[data-columns="9"] { grid-template-columns: repeat(9, 1fr); }
.table[data-columns="10"] { grid-template-columns: repeat(10, 1fr); }

.table .table-header { padding-bottom: 0.75rem; }
.table .table-cell { border-top: solid 1px #efefef; padding: 0 2em 0 0; }

@media screen and (max-width:40rem) {
  .table { overflow-x: auto; }
}


/* pagination */
.pagination { display: inherit; text-align: center; }
.pagination a { background-color: var(--white); color: var(--black); border:solid 2px var(--black); }
.pagination a:first-child { background-color: var(--black); color:var(--white); }
.pagination a.nuxt-link-active { background-color: var(--white); color: var(--black); border:solid 2px var(--black); }
.pagination a.nuxt-link-active.nuxt-link-exact-active { background-color: var(--black); color:var(--white); }

.pagination.mobile { display:none; }

@media (hover:hover) {
  .pagination a:hover { color:var(--white); border-color:var(--black); }
}


@media screen and (max-width:40rem) {
  .pagination { display:none; }
  .pagination.mobile { display:flex; text-align: center; justify-content: space-around; }
  .pagination.mobile select { padding: 0.25rem 0.5rem; margin: 0 0.5rem; width:100%; }
  .pagination.mobile em { margin-right:0.5rem; }
}






/* teasers */
.teaser { display: flex; flex-direction: column; width:100%; flex:1; padding: 0.5rem; }
.teaser .text { display: flex; flex:1; flex-direction: column; }